/*Contact projet fil rouge*/
body, html{
   
    font-family: 'Raleway', sans-serif;
    background-color: #fef6df;
}

/* Navigation */
.navbar-custom {
    background-color: #e1f16b;
}
.logo{
    height: 5em;
    width: 5em;
}
li{
    padding-right: 2.2em;
}
.nav-link{
    color: #e598d8 !important;
    font-size: 1.3em;
    font-family: 'Emilys Candy', cursive;
}
.nav-link:hover{
    color: #AC80A5;

}
.dropdown-item{
    color:#e598d8;
    font-size: 1.1em;
    font-family: 'Emilys Candy', cursive;
}
.dropdown-item:hover{
    color: #AC80A5;

}

i{
    color: #e598d8;
}

/* formulaire de contact */
.container-fluid{
    padding-top: 3em;
    font-size: 1em;
    color: #363636;
}

.commentaire{
    background-color: #fef6df ;
}
.btn-custom{
    background-color: #e598d8;
    color: #363636;
    margin-bottom: 1em;
    width: 6em;
}

/* footer */
footer{
    background-color: #e1f16b;
    padding:0.93em;
}
.nom, a, .credit{
    color:#e598d8;
    font-family: 'Emilys Candy', cursive;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #AC80A5;
}