                                   /*Accueil projet fil rouge*/
*{
    margin: 0;
    padding: 0;
    background-color: #fef6df;
}

/* Navigation */
.navbar-custom, .logo, li, form, i{
    background-color: #e1f16b;
}
.logo{
    height: 10em;
    width: 10em;
}
.nav-link{
    color: #e598d8;
    font-size: 2em;
    font-family: 'Emilys Candy', cursive;
}
.nav-link:hover{
    color: #AC80A5;

}
.dropdown-item{
    color:#e598d8;
    font-size: 1.5em;
    font-family: 'Emilys Candy', cursive;
}
.dropdown-item:hover{
    color: #AC80A5;

}
i{
    color: #e598d8;
}

/* Jumbotron */
.jumbotron, .jumbotron-fluid{
    background-image: url(../Projetfilrouge/Château2.jpg);
    background-size: cover;
    max-width: 100%;
    height: 100em;
}
    


/* Footer */
footer .container{
    background-color: #e1f16b;
    
}
.nom, a, .credit{
    color:#e598d8;
    font-family: 'Emilys Candy', cursive;
    font-size: 1.1em;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #AC80A5;
}
