/* Recette gateau projet fil rouge */

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #fef6df;
    color: #5B595A;
}

/* Navigation */
.navbar-custom {
    background-color: #e1f16b;
}
.logo{
    height: 5em;
    width: 5em;
}
li{
    padding-right: 2.2em;
}
.nav-link{
    color: #e598d8 !important;
    font-size: 1.3em;
    font-family: 'Emilys Candy', cursive;
}
.nav-link:hover{
    color: #AC80A5;

}
.dropdown-item{
    color:#e598d8;
    font-size: 1.1em;
    font-family: 'Emilys Candy', cursive;
}
.dropdown-item:hover{
    color: #AC80A5;

}

i{
    color: #e598d8;
}
/* recette */
.container-fluid{
    margin-top: 2em;
    margin-bottom: 2em;
}
img{
    height: 30em;
    width: auto;
    border-radius: 1em;
    
}
#titre{
    padding-top: 1em;
}
h1, h2, h3{
    font-family: 'Emilys Candy', cursive;
}
.citron, .assemblage, .fruits, .beurre{
    padding-top: 1em;
}
/* Footer */
footer{
    background-color: #e1f16b;
    padding:0.93em;
}
.nom, a, .credit{
    color:#e598d8;
    font-family: 'Emilys Candy', cursive;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #AC80A5;
}
@media (min-width: 300px) and (max-width: 1400px) {
    img{
        width: 100%;
    }
  }